@font-face {
    font-family: 'Helvetica';
    src: url('HelveticaNeueW23forSKY-Reg.woff2') format('woff2'),
        url('HelveticaNeueW23forSKY-Reg.woff') format('woff'),
        url('HelveticaNeueW23forSKY-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

