@import "../../node_modules/bulma/css/bulma.min.css";
@import "../../assets/fonts/helvetica.css";

body {
  min-height: 100vh;
}

.container {
  max-width: 800px;
}

.footer {
  color: #FFFFFF;
  margin-top: 24px;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #1F8A93;
}
